<h1>This is written by JZ</h1>
<p>You are visiting JZ's first website, developed using Ruby 
on Rails 3</p>

<%= link_to "Sign Up to Become a Member Now!", signup_path, :class => "signup_button round" %>
